<hr>

<div class="d-flex align-items-center">
  <h2 class="flex-grow-1"> All your lists </h2>
  <%= link_to "➕", new_list_path %>
</div>

<br>

<div class="list-cards">
  <% @lists.each do |list| %>
    <%= link_to list_path(list['id']) do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <%= link_to list['name'] %>
      </div>
    <% end %>
  <% end %>
</div>
