<hr>
<h2> All the movies </h2>
<br>

<div class="d-flex flex-wrap justify-content-between mx-4">
  <% @movies.each do |movie| %>
    <div class="card shadow m-2" style="width: 10rem;">
      <%= link_to movie_path(movie['id']) do %>
        <%= image_tag movie['poster_url'], alt: "Poster of #{movie['title']}", class: "card-img-top" %>
      <% end %>
      <div class="card-body">
        <p> <%= link_to movie['title'], movie_path(movie['id']) %> </p>
      </div>
    </div>
  <% end %>
</div>
